@model CoreCine.Pedido
@using CoreCine
@{
    ViewBag.Title = "FormPedido";
    List<Ticket> ListaTicket = (List<Ticket>)ViewBag.ListadoTicket;

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CodPedido)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodTicket, "Ticket", htmlAttributes: new { @class = "control-label col-md-2" })
            <select name="CodTicket">
                @foreach (Ticket item in ListaTicket)
                {
                    <option value="@item.CodTicket">@item.Descripcion</option>
                }
            </select>
             @*<div class="col-md-10">
                @Html.EditorFor(model => model.CodTicket, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodTicket, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Lista de Pedidos", "Index")
</div>
