@model CoreCine.Pelicula
@using CoreCine
@{
    ViewBag.Title = "FormPelicula";
    List<Director> ListaDirector = (List<Director>)ViewBag.ListadoDirector;

}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pelicula</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NombrePelicula, "Nombre de película", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombrePelicula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombrePelicula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duracion, "Duración de la película", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duracion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaEstreno, "Fecha de estreno", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaEstreno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaEstreno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodDirector, "Director", htmlAttributes: new { @class = "control-label col-md-2" })
            <select name="CodDirector">
                @foreach (Director item in ListaDirector)
                {
                    <option value="@item.CodDirector">@item.NombreDirector</option>
                }
            </select>
            
            @*<div class="col-md-10">               
                @Html.DropDownList("CodDirector", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodDirector, "", new { @class = "text-danger" })
                }
            </div>*@
        </div>      
    </div>
}