@model IEnumerable<CoreCine.Interprete>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paterno)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Materno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>Protagonistas</th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Materno)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                @if (item.Foto != null)
                {
                    <img src="~/Fotos/@item.Foto" height="70" width="50" data-nombre="@item.Foto" />
                }
                else
                {
                    <img src="~/Fotos/Default.jpg" height="70" width="50" />
                }

            </td>
            <td>
                <a href="@item.Bio" target="_blank">Ver Bio</a>
            </td>

            <td>

               

                    @Html.ActionLink("Edit", "Edit", new { id = item.CodInterprete }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CodInterprete }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CodInterprete })
                </td>
        </tr>
    }

</table>