@model IEnumerable<CoreCine.Cine>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>


            @Html.ActionLink("ActualizarCine", "ActualizarCine","Main", new {area = "Cine", CodCine=item.CodCine },null) |
            @Html.ActionLink("EliminarCine", "Eliminar", new { area = "Cine", CodCine = item.CodCine }, null)
        </td>
    </tr>
}

</table>
